@page "/update/{DPNummer:int}"
<!--page "/update/{DPNummer:int}/{DPSeite}"-->

<h1>Update DP:"@_postToUpdate.DPNummer"</h1>

<EditForm Model="_postToUpdate" OnValidSubmit="UpdatePostAsync">
    <div class="form-group mb-3">
        <label for="postTitle">Beschreibung DE</label>
        <InputText @bind-Value="_postToUpdate.DPBeschreibung" class="form-control" id="postTitle" readonly="true" />
    </div>

    <div class="form-group mb-3">
        <label for="postTitle1">Beschreibung EN</label>
        <InputText @bind-Value="_postToUpdate.DPBeschreibungEN" class="form-control" id="postTitle1" />
    </div>

    <div class="form-group mb-3">
        <label for="postTitle2">Range</label>
        <InputText @bind-Value="_postToUpdate.DPRange" class="form-control" id="postTitle2" />
    </div>

    <div class="form-group mb-3">
        <label for="postContent">DP Wert</label>
        <InputText @bind-Value="_postToUpdate.DPWert" class="form-control" id="postContent" />
    </div>

    <DataAnnotationsValidator />
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

    <button class="btn btn-success" type="submit">
        Update
    </button>

    <button @onclick="@(() => NavigationManager.NavigateTo(@DPSeite))" class="btn btn-secondary">
        Cancel
    </button>
</EditForm>

@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@code {
    [Parameter] 
    public int DPNummer { get; set; }
   [Parameter] 
   public string DPSeite { get; set; }  = string.Empty;

    private Datenpunkt _postToUpdate = null;

    protected override async Task OnParametersSetAsync()
    {
        using var context = new DPointDbContext();
        _postToUpdate = await context.Datenpunkte.FindAsync(DPNummer);
    }

    private async Task UpdatePostAsync()
    {
        using var context = new DPointDbContext();
        context.Datenpunkte.Update(_postToUpdate);

        if (await context.SaveChangesAsync() > 0)
        {
            NavigationManager.NavigateTo("/");
//            NavigationManager.NavigateTo(@DPSeite);
        }
        else
        {
            string errorMessage = "ERROR: Failed to update post.";
            await JsRuntime.InvokeVoidAsync("alert", errorMessage);
        }
    }
}
